body {
    background-image: url("https://dailytimes.com.pk/assets/uploads/2021/06/17/covid-cells.jpg");
    color: white;
}


.fontSize{
    font-size: 30px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    color: white;
}
.backGround{
    background-color: #ff4dff !important;
}